.sales-form {
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.sales-form th {
  font-size: 1.2rem;
  font-weight: 500;
}

.sales-form .quantity,
.sales-form .rate {
  width: 10rem;
}

.sales-form .sub-total {
  padding-top: 1.6rem;
  font-size: 1.8rem;
  font-weight: 700;
}
