.header {
  grid-column: 1/-1;
  border-bottom: 1px solid var(--secondary-gray);

  & .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;

    @media (max-width: 37.5em) {
      justify-content: center;
      padding: 1.4rem;
    }

    & .logo-box {
      @media (max-width: 37.5em) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    & .logo {
      width: 3.5rem;
    }

    & .top-nav {
      display: block;
      @media (max-width: 37.5em) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        min-width: 60vw;
        height: 100vh;
        background: #eee;
        display: none;
      }
      & ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 3.2rem;

        @media (max-width: 37.5em) {
          flex-direction: column;
          min-width: 60vw;
          padding: 1.4rem;
          margin-top: 6.2rem;
        }
      }
    }
  }
}

.hamburger {
  display: none;

  @media (max-width: 37.5em) {
    display: block;
  }

  &--top,
  &--bottom,
  &--middle {
    width: 30px;
    height: 2px;
    background: var(--primary-gray-dark);
  }

  &--top {
    margin-bottom: 8px;
  }

  &--bottom {
    margin-top: 8px;
  }
}

.close {
  display: none;
  position: absolute;
  left: 1.4rem;
  top: 3.1rem;

  @media (max-width: 37.5em) {
    display: block;
  }

  &--top,
  &--bottom {
    width: 30px;
    height: 2px;
    background: var(--primary-gray-dark);
  }

  &--top {
    margin-bottom: -2px;
    transform: rotate(135deg);
  }

  &--bottom {
    margin-top: -2px;
    transform: rotate(45deg);
  }
}

.top-nav a:link,
.top-nav a:visited,
.top-nav a.inactive {
  color: var(--primary-gray);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  display: block;
}

.top-nav a:hover,
.top-nav a:active,
.top-nav a.active {
  color: var(--primary-gray-dark);
}
