.header {
  grid-column: 1/-1;
  border-bottom: 1px solid var(--secondary-gray);

  & .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;

    & .logo {
      width: 3.5rem;
    }

    & .top-nav {
      & ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 3.2rem;
      }
    }
  }
}

.top-nav a:link,
.top-nav a:visited,
.top-nav a.inactive {
  color: var(--primary-gray);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700; 
  display: block;
}

.top-nav a:hover,
.top-nav a:active,
.top-nav a.active {
  color: var(--primary-gray-dark);
}
