.login {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 70vh;

  &__container {
    width: 40rem;

    @media (max-width: 37.5em) {
      width: 80vw;
    }
  }
}

.logo {
  width: 6rem;

  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.6rem;
  }
}
