.sales {
  padding: 3.2rem;

  @media (max-width: 37.5em) {
    padding: 0;
  }
}

.sales-form {
  & th {
    font-size: 1.2rem;
    font-weight: 500;
  }

  & .quantity,
  & .rate {
    width: 10rem;
  }

  & .sub-total {
    padding-top: 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
}

th[class$='quantity'],
th[class$='rate'] {
  @media (max-width: 37.5em) {
    max-width: 60px;
  }
}
